* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root */
:root {
  --color1: #025091;
  --color2: #71c5ee;
}
html {
  scroll-behavior: smooth;
}
/* Start global Rolaus  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* screen small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
.title {
  margin: 20px auto;
  text-align: center;
  background: linear-gradient(182deg, #272156, #636181);
  padding: 10px 15px;
  width: fit-content;
  border-radius: 20px;
  color: white;
  font-size: 30px;
}
/* screen medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* screen large   */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
header {
  padding: 20px 0px;
  background: linear-gradient(182deg, #272156, #636181);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header ul li a {
    margin: -9px;
  }
}
header i {
  font-size: 34px;
  color: white;
  color: white;
}

header .logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
header .logo span {
  color: #ffffffa1;
  font-size: 50px;
}
@media (max-width: 992px) {
  header .logo {
    font-size: 20px;
  }
  header .logo span {
    font-size: 40px;
  }
}
header ul {
  display: flex;
}
/* start mega menew */
header .mega {
  position: absolute;
  top: 14%;
  float: left;
  background: linear-gradient(182deg, #272156, #636181);

  opacity: 0;
  transition: 1s;
  left: 30px;
  top: 0px;
  z-index: -4;
}
header .mega .links {
  display: flex;
  flex-direction: column;
}
header .mega .links li::before {
  content: "";
  position: absolute;
  bottom: -19px;
  width: 100%;
  height: 10%;
  background: white;
}
header .mega .links li {
  margin: 45px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .mega .links li a {
  color: white;
  transition: 0.5s;
}
header .mega .links li a:focus,
header .mega .links li a:hover {
  color: #ffffffa1;
  transform: translateX(20px);
}
@media (max-width: 992px) {
  header .mega {
    top: 130px;
  }
}
@media (max-width: 768px) {
  header .mega {
    top: 130px;
  }
}

/* end mega menew */
header ul li {
  margin: 20px;
  font-size: 18px;
}
header ul li a {
  color: white;
  text-align: center;
  transition: 0.5s;
  letter-spacing: 4px;
}

header ul li a:focus,
header ul li a:hover {
  color: #ffffffa1;
}

header form input {
  border: none;
  padding: 10px 0px;

  background: no-repeat;
  border-bottom: 1px solid white;
  transition: 0.5s;
  color: white;
}
header form input:focus {
  outline: none;
}

header form input::placeholder {
  color: white;
  margin: auto;
  text-align: center;
}

header form input:hover {
  background-color: #ffffffa1;
  border-radius: 20px;
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header .logo {
  }
  header form input {
    margin-top: 20px;
  }
}
/* end header */
/* start input  */
.input {
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(182deg, #272156, #636181);
}
.input .container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.input form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.input form input {
  width: 400px;
  background: no-repeat;
  border: none;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  margin: 20px;
  padding: 10px;
  color: white;
  font-size: 15px;
}
.input form input::placeholder {
  color: white;
}

.input form input:focus {
  outline: none;
}
.input form button {
  padding: 10px;
  margin-top: 15px;
  border-radius: 15px;
  border: navajowhite;
  cursor: pointer;
  background-color: #ffffffa1;
  color: var(--color1);
  font-weight: bold;
  font-size: 16px;
}
.input form p {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.input form p:hover {
  color: #ffffffa1;
}
@media (max-width: 768px) {
  .input form input {
    width: 300px;
  }
}
/* end input */
/* staet servirs */
.server {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #eee;
}
.server .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
.server .card {
  background-color: white;
  text-align: center;
  box-shadow: inset 2px 5px 9px 2px #3d386652;
  border-radius: 14px;
  transition: 0.5s;
}
.server .card img {
  max-width: 100%;
  border-radius: 50%;
}
.server .card button {
  margin-top: 10px;
  padding: 5px;
  background: linear-gradient(182deg, #272156, #636181);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.server .card p {
  font-size: 20px;
  text-align: center;
}
.server .card:hover {
  transform: translateY(-10px);
}
/* end serivies */
/* start about */
.about {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: white;
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .about .container {
    display: flex;
    flex-direction: column;
  }
}
.about img {
  max-width: 100%;
}
.about p {
  margin: 50px;
  font-size: 25px;
  color: black;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.about p::before {
  content: "";
  width: 100%;
  height: 12%;
  position: absolute;
  background: linear-gradient(182deg, #272156, #636181);
  bottom: -30px;
}
@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }
}
/* end about */
/* start footer */
footer {
  background: linear-gradient(182deg, #272156, #636181);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
footer .logo span {
  color: #ffffffa1;
  font-size: 30px;
}
footer p {
  color: white;
  font-size: 23px;
}
footer .icon {
  display: flex;
}
footer .icon i {
  color: white;
  margin: 20px;
  font-size: 30px;
}
@media (max-width: 768px) {
  footer .container {
    display: flex;
    flex-direction: column;
  }
}
/* end footer */
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  position: relative;
  top: 360px;
}
.load span {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border-top: 4px solid var(--color1);
  border-left: 4px solid var(--color2);
  border-right: 1px solid blue;
  background: no-repeat;
  animation: load 1s 2s infinite reverse;

  transform: rotate(55deg);
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* start number */
.number {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
}
.number .container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.number h4 {
  font-size: 30px;
  background: #3c3865;
  padding: 10px;
  text-align: center;
  border-radius: 9px;
  color: WHITE;
}
@media (max-width: 762px) {
  .number .container {
    flex-direction: column;
  }
}
/* end number */
